/* Home.css */
/* Home.css */

.home-container {
  background-image: url("https://www.stedy.io/img/squares-1.svg"); /* Image source */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: left top; /* Align the image to the top-left */
  background-size: 15% 100%; /* Cover 15% of the width and 100% of the height */
  background-color: #ffffff;  /* Background color when image is not present */
}

@media (max-width: 768px) {
  .home-container {
    background-image: none; /* Retirer l'image d'arrière-plan sur mobile */
  }
}
.custom-toast-success {
  background-color: #1ab394 !important;
}

@media (max-width: 576px) {
  .intro-title {
    /* Réduire la taille du texte sur les petits écrans */
    white-space: nowrap; /* Toujours empêcher le wrap du texte */
  }
}


h1, h2, h3 {
  font-weight: 1;
}




.responsive-toast {
  width: 300px;
}

@media (min-width: 993px) {
  .responsive-toast {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .home-content {
    width: 90%;
  }
}
.text-center {
  text-align: center !important;
}
.intro-title {
  font-size: 50px;
  display: inline;
  position: relative;
  z-index: 1;
}
.intro-title:before {
  content: "“";
  position: absolute;
  left: -80px;
  top: -20px;
  font-size: 200px;
  color: #3b73ff;
  line-height: 1;
  z-index: -1;
}
h1, h2, h3 {
  font-weight: 800;
}
#intro .img-squares {
  position: absolute;
  z-index: 0;
  top: 80px;
}
#intro {
  padding: 50px 0px 60px 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.intro-desc {
  font-size: 20px;
  margin-top: 6px;
  position: relative;
  z-index: 1;
}

